 
<div class="container text-center">
    <hr class="featurette-divider" />

    <div>
   <a
        href="tel:{{phone}}"
        class="btn btn-outline-danger"
        tabindex="-1"
        role="button"
        aria-disabled="true"
        > Contact Us</a>
    </div>
    <a class="fs-2 link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-3" href="{{yelp}}"><i class="bi bi-yelp"></i></a>
    <a class="fs-2 link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-3" href="{{facebook}}"><i class="bi bi-facebook"></i></a>
    <a class="fs-2 link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-3" href="{{instagram}}"><i class="bi bi-instagram"></i></a>
    <a class="fs-2 link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-3" href="mailto:{{email}}"><i class="bi bi-envelope"></i></a> 
    <p class="fs-5 text-secondary">&copy; {{year}} {{company}}. &middot; <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/privacy">Privacy</a> &middot; <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/terms">Terms</a></p>
    <div class="float-end"><a href="#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Back to top</a></div>

</footer>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ga}}');
</script>
</body>

</html>