 

<hr class="featurette-divider mb-4" />

<div class="container text-center">
    <div class="row d-flex align-items-center justify-content-between">

        <!-- Order Button -->
        <div class="col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
            <a
                href="{{menu}}"
                class="btn btn-danger p-2"
                tabindex="-1"
                role="button"
                aria-disabled="true"
                >ORDER NOW
            </a>
        </div>

        <!-- Restaurant Info -->
        <div class="col-md-3 d-flex flex-column align-items-center mb-md-0">
            <p style="white-space: nowrap;margin-top:revert;"><a href="tel:{{phone}}">{{phone}}</a> | <a href="mailto:{{email}}" style="white-space: nowrap;text-transform:uppercase">{{email}}</a>
            <br>
            <a href="https://maps.google.com/maps/dir//Tigris+Mediterranean+Grille+5285+Overland+Ave+%23102+San+Diego,+CA+92123/@32.8306151,-117.1304295,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dbffb46eb566e1:0x39c5d62b7baaf06">5285 OVERLAND AVE #102, SAN DIEGO, CA 92123</a></p>
        </div>

        <!-- Social Media & Terms -->
        <div class="col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
            <!-- Social Media Logos -->
            <div class="d-flex justify-content-center">
                <a class="fs-2 opacity-75 me-3" href="{{facebook}}"><i class="bi bi-facebook"></i></a>
                <a class="fs-2 opacity-75 me-3" href="{{instagram}}"><i class="bi bi-instagram"></i></a>
                <a class="fs-2 opacity-75 me-2" href="{{yelp}}"><i class="bi bi-yelp"></i></a>
                <a class="fs-2 opacity-75" href="mailto:{{email}}"><i class="bi bi-envelope"></i></a>
            </div>

            <!-- Terms & Privacy Policy -->
            <p style="white-space: nowrap;"><a href="/privacy">PRIVACY</a> | 
               <a href="/terms">TERMS</a>
            <br>
            <!-- Copyright -->
            &copy; {{year}} <a href="{{url}}">{{company}}.</a>
            </p>
        </div>

    </div>

    <!-- Back to top link -->
    <div class="float-end mb-4"><a href="#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Back to top</a></div>
</div>


</footer>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ga}}');
</script>
</body>

</html>