<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="navbar-message">
      <div class="px-3 py-1">
        <div>
          <div>
            <a class="link-hover fs-5" href="/menu">
              <i class="bi bi-cart-plus-fill"></i>
              Online Orders
            </a>
          </div>
          <div>
            <a class="link-hover fs-5" href="tel:+18585769999">
              <i class="bi bi-telephone-fill"></i>
              {{phone}}
            </a>
          </div>
          <!-- Social Media Logos -->
          <div class="d-flex justify-content-around">
            <a
              aria-label="facebook"
              class="link-hover fs-2 opacity-75 me-3"
              href="{{facebook}}"
            ><i class="bi bi-facebook nav-fb-icon"></i></a>
            <a
              aria-label="instagram"
              class="link-hover fs-2 opacity-75 me-3"
              href="{{instagram}}"
            ><i class="bi bi-instagram nav-ig-icon"></i></a>
            <a
              aria-label="yelp"
              class="link-hover fs-2 opacity-75 me-2"
              href="{{yelp}}"
            ><i class="bi bi-yelp"></i></a>
            <a
              aria-label="email"
              class="link-hover fs-2 opacity-75"
              href="mailto:{{email}}"
            ><i class="bi bi-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid flex-lg-column">
      <a class="navbar-brand" href="/">
        <img
          src="/images/misc/raw-240.webp"
          alt="{{company}} Logo"
          class="img-fluid"
          style="border-radius:9px"
          srcset="/images/misc/raw-140.webp 140w, /images/misc/raw-225.webp 225w"
          sizes="(max-width: 991px) 140px, (min-width: 992px) 225px"
          width="225"
          height="118"
        />
      </a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div
        class="collapse navbar-collapse my-2"
        style="background-color: #fdf0d5;border-radius:8px; width:90%;"
        id="navbarCollapse"
      >
        <ul
          class="navbar-nav ms-auto d-flex align-items-center justify-content-center"
          style="width: 100%;"
        >
          <li class="nav-item px-3">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/our-story">OUR STORY</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/catering">CATERING</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link btn-outline-success" href="/menu">MENU</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link btn-outline-success" href="/gallery">GALLERY</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/contact">CONTACT</a>
          </li>
          <li class="nav-item px-3 dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="socialDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              SOCIALS
            </a>
            <ul class="dropdown-menu" aria-labelledby="socialDropdown">
              <li class="d-flex justify-content-around"><a
                  class="nav-socials fs-3 opacity-75"
                  href="{{facebook}}"
                ><i class="bi bi-facebook"></i></a>
                <a class="fs-3 opacity-75 nav-socials" href="{{instagram}}"><i
                    class="bi bi-instagram"
                  ></i></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>