{{> header}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "serviceType": "Catering Service",
  "name": "Catering by {{company}}",
  "description": "Professional catering services for events, weddings, and corporate functions. We offer a variety of cuisines and customizable menus.",
  "url": "{{url}}/catering",
  "provider": {
    "@type": "Organization",
    "name": "{{company}}",
    "url": "{{url}}",
    "logo": "{{url}}/logo.png",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "{{phone}}",
      "contactType": "Catering Inquiries",
      "email": "{{email}}",
      "areaServed": ["{{city}}"],
      "availableLanguage": ["English", "Spanish"]
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{city}}",
      "addressRegion": "{{state}}",
      "postalCode": "{{zip}}",
      "streetAddress": "{{address}}"
    },
  },
  "areaServed": ["{{city}}"],
  "availableLanguage": ["English", "Spanish"],
  "menu": "{{menu}}",
  "serviceOutput": "Event Catering",
  "serviceAudience": {
    "@type": "Audience",
    "audienceType": ["Wedding", "Corporate", "Private Events"]
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "USD",
    "price": "Varies",
    "eligibleRegion": ["{{city}}"],
  }
}
</script>
{{> navbar}}

<div class="jumbotron jumbotron-fluid jumbotron-beans-menu">
  <div class="container text-center">
    <h1 class="display-2 text-center" style="color: white; text-shadow: 2px 2px black;">{{company}}'s CATERING</h1>
  </div>
</div>

<div class="container menu">
  <div class="row">
    <h2 class="display-3 text-center">Planning a family event, business
      luncheon, party, or a wedding?
    </h2>
    <h3 class="display-4 text-center">Call us at: <a href="tel:{{phone}}">{{phone}}</a></h3>
    <p>
      {{company}}
      is a full service catering provider in San Diego, CA. Our experienced and
      professional catering services staff will take care of every detail to
      ensure the best service and food.
    </p>
    <p>
    Please let us know the following after looking at the
      <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank" href="/menu.pdf">menu</a></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of people</li>
      <li class="list-group-item">Dishes</li>
      <li class="list-group-item">Location</li>
      <li class="list-group-item">Serving Date/Time</li>
    </ul>
  </div>
</div>

{{> footer}}