{{> header}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "serviceType": "Catering Service",
  "name": "Catering by {{company}}",
  "description": "Professional catering services for events, weddings, and corporate functions. We offer a variety of cuisines and customizable menus.",
  "url": "{{url}}/catering",
  "provider": {
    "@type": "Organization",
    "name": "{{company}}",
    "url": "{{url}}",
    "logo": "{{url}}/logo.png",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "{{phone}}",
      "contactType": "Catering Inquiries",
      "email": "{{email}}",
      "areaServed": ["{{city}}"],
      "availableLanguage": ["English", "Spanish"]
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{city}}",
      "addressRegion": "{{state}}",
      "postalCode": "{{zip}}",
      "streetAddress": "{{address}}"
    },
  },
  "areaServed": ["{{city}}"],
  "availableLanguage": ["English", "Spanish"],
  "menu": "{{menu}}",
  "serviceOutput": "Event Catering",
  "serviceAudience": {
    "@type": "Audience",
    "audienceType": ["Wedding", "Corporate", "Private Events"]
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "USD",
    "price": "Varies",
    "eligibleRegion": ["{{city}}"],
  }
}
</script>
{{> navbar}}

<div class="container">
  <center>
    <h1 class="featurette-heading my-5">Parties & Catering</h1>
    <p class="lead">Transform your special occasions into extraordinary celebrations with our exquisite off-site catering. At {{company}}, we don't just serve food; we create unforgettable culinary journeys that enchant your guests and leave lasting memories. From intimate gatherings to grand galas, let us weave the flavors of the Middle East into every moment, ensuring your event is not just attended, but truly experienced.</p>
  </center>
  <hr class="featurette-divider" />

<div class="container catering menu text-center">
    <h2 class="featurette-heading my-4">Unforgettable Celebrations Await</h2>

    <p class="lead">
      Ready to elevate your next event? Let us bring the magic to you. From office luncheons to the most unforgettable celebrations, we craft culinary experiences that tantalize and delight. 
      </p>
      <p class="lead">Can’t make it to us? No problem—we’ll come to you, wherever your special moment awaits. Choose from personalized catering options or indulge in bulk orders of our signature dishes, tailored just for you.
    </p>
    
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#inquireModal">
      Plan Your Feast-Inquire Now!
    </button>
</div>
</div>

<!-- Modal --> {{!--TODO: handle submission --}}
<div class="modal fade" id="inquireModal" tabindex="-1" aria-labelledby="inquireModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquireModalLabel">CONTACT US ABOUT YOUR PRIVATE EVENT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h5 class="mt-1 mb-3"><center>YOUR CONTACT INFORMATION</center></h5>
          <div class="container">
            <div class="row">
              <div class="mb-2 col-md-6 d-flex flex-column">
                <label for="cater-firstname" class="form-label">First Name <span class="required-indicator">*</span></label>
                <input type="text" class="form-control custom-input" id="cater-firstname" required >
              </div>
              <div class="mb-2 col-md-6 d-flex flex-column">
                <label for="cater-lastname" class="form-label">Last Name <span class="required-indicator">*</span></label>
                <input type="text" class="form-control custom-input" id="cater-lastname" required >
              </div>
            </div>
            <div class="mb-2">
              <label for="cater-email" class="form-label">Email <span class="required-indicator">*</span></label>
              <input type="email" class="form-control custom-input" id="cater-email" required>
            </div>
            <div class="mb-2">
              <label for="cater-phone" class="form-label">Phone Number <span class="required-indicator">*</span></label>
              <input type="tel" class="form-control custom-input" id="cater-phone" required >
            </div>
            <div class="mb-2">
              <label for="cater-company" class="form-label">Company</label>
              <input type="text" class="form-control custom-input" id="cater-company" >
            </div>
          </div>

          <h5 class="mt-4 mb-2"><center>EVENT DETAILS</center></h5>
          <div class="container">
              <div class="mb-3">
                <label for="cater-type" class="form-label">Nature of Event <span style="font-style:italic">(e.g., Business Dinner or Birthday Party)</span></label>
                <input type="text" class="form-control custom-input" id="cater-type"></input>
              </div>

            <div class="mb-3">
              <label for="cater-date" class="form-label">Event Date <span class="required-indicator">*</span></label>
              <input type="date" class="form-control custom-input" id="cater-date" required >
            </div>

            <div class="row mb-3">
                <div class="col-md-6 d-flex flex-column">
                  <label for="cater-start-time" class="form-label">Start Time</label>
                  <input type="time" class="form-control custom-input" id="cater-start-time" >
                </div>
                <div class="col-md-6 d-flex flex-column">
                  <label for="cater-end-time" class="form-label">End Time </label>
                  <input type="time" class="form-control custom-input" id="cater-end-time">
                </div>
              </div>

              <div class="mb-3">
                <label for="cater-num-people" class="form-label">Number of People</label>
                <input type="number" class="form-control custom-input" id="cater-num-people">
              </div>
              <div class="mb-2">
                <label for="cater-moreinfo" class="form-label">Additional Information</span></label>
                <textarea class="form-control custom-input" id="cater-moreinfo" rows="2" ></textarea>
              </div>
              <div class="mb-3">
                <label for="cater-referral" class="form-label">How did you hear about us?</label>
                <input type="text" class="form-control custom-input" id="cater-referral">
              </div>
          </div>

          <button type="submit" class="mt-4 btn d-flex mx-auto btn-outline-danger">Send Inquiry</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}

