{{> header}}
{{> navbar}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ContactPage",
  "name": "Contact Us",
  "description": "Contact page for {{company}}",
  "url": "{{url}}/contact",
  "mainEntity": {
    "@type": "Organization",
    "name": "{{company}}",
    "url": "{{url}}",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "{{phone}}",
      "contactType": "Customer Service",
      "email": "info@{{domain}}",
      "areaServed": "US",
      "availableLanguage": "English"
    }
  }
}
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6Ld86ZEqAAAAAMwBvUsyfUQ3ISKsi2f9_RFAbzcs"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    event.preventDefault();
    // grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('6Ld86ZEqAAAAAMwBvUsyfUQ3ISKsi2f9_RFAbzcs', {action: 'submit'}).then(function(token) {
          document.getElementById('recaptcha-token').value = token;
          submitForm();
      });
    });
    function showAlert(message) {
      const alertMessage = document.getElementById('alert-message');
      alertMessage.innerHTML = message;

      const alertModal = new bootstrap.Modal(document.getElementById('custom-alert'));
      alertModal.show();
    }
    function submitForm() {
      const form = document.querySelector('form');
      const loadingSpinner = document.getElementById('loading-spinner');
      if (form) {
          form.addEventListener('submit', function (event) {
            event.preventDefault();
            loadingSpinner.style.display = 'block';
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value; 
            });
            fetch('https://o3pe4aw2c8.execute-api.us-east-1.amazonaws.com/FormSubmissionHandler', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then((response) => {
              if (response.ok) {
                console.log('Success submitting contact form.');
                loadingSpinner.style.display = 'none';
                form.reset();
                showAlert('Thank you! Your inquiry has been successfully submitted, and we\'ll call you to confirm.');
              } else {
                console.error('Error in submission.', response.textContent);
                loadingSpinner.style.display = 'none';
                showAlert('Something went wrong. Please try again later.<br>Email: <a class="py-2" style="color:rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1))" href="mailto:{{email}}">{{email}}</a><br>Phone: <a style="color:rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1))" href="tel:{{phone}}">{{phone}}</a>');
              }
            })
            .catch((error) => {
              console.error('Error:', error);
              loadingSpinner.style.display = 'none';
              showAlert('Submission failed. Please try again.<br>Email: <a class="py-2" style="color:rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1))" href="mailto:{{email}}">{{email}}</a><br>Phone: <a style="color:rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1))" href="tel:{{phone}}">{{phone}}</a>');
            });
          });
      } else {
          console.error('Form not found');
      }
    }
});
</script>

<div class="text-center pt-5">
  <iframe class="google-map"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13410.210757627956!2d-117.1304295!3d32.8306151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x39c5d62b7baaf06!2sTigris%20Mediterranean%20Grille!5e0!3m2!1sen!2sus!4v1616021732440!5m2!1sen!2sus"
    width="95%" height="450" allowfullscreen="" loading="lazy"></iframe>
</div>

<hr class="featurette-divider">

{{!-- Restaurant Info --}}
<div class="container" style="max-width: 100%;">
  <div class="row">
    <div class="col-md-4 d-flex flex-column align-items-center mb-4 mb-md-0">
      <h3 class="mb-3">HOURS</h3>
      <p class="fs-5">Our Door is Open!</p>
      <div class="hours-list">
        <p><span class="day">Monday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
        <p><span class="day">Tuesday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
        <p><span class="day">Wednesday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
        <p><span class="day">Thursday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
        <p><span class="day">Friday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
        <p><span class="day">Saturday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
        <p><span class="day">Sunday:</span> <span class="time ml-2">Closed</span></p>
      </div>
    </div>


    <div class="col-md-4 d-flex flex-column align-items-center mb-4 mb-md-0">
      <h3 class="mb-3">INFORMATION</h3>
      <p class="fs-5">Reach out - we're here to help!</p>
      <div class="text-center contact-info">
        <p>
          <i class="fs-4 bi bi-telephone-fill"></i>
          <a href="tel:{{phone}}"><br>{{phone}}</a>
        </p>
        <p>
          <i class="fs-4 bi bi-envelope-fill"></i>
          <a href="mailto:{{email}}" style="white-space: nowrap;"><br>{{email}}</a>
        </p>
        <p>
          <i class="fs-4 bi bi-geo-alt-fill"></i>
          <a
            href="https://maps.google.com/maps/dir//Tigris+Mediterranean+Grille+5285+Overland+Ave+%23102+San+Diego,+CA+92123/@32.8306151,-117.1304295,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dbffb46eb566e1:0x39c5d62b7baaf06"><br>
            5285 Overland Ave #102
            <br>
            San Diego, California 92123
          </a>
        </p>
      </div>
    </div>


    <div class="col-md-4 d-flex flex-column align-items-center mb-4 mb-md-0">
      <h3 class="mb-3">CONTACT</h3>
      <p class="fs-5">We'd love to hear from you!</p>
      <form style="width:93%">
        <input type="hidden" name="recaptcha-token" id="recaptcha-token"/>
        <input type="hidden" name="formtype" value="contact-us"/>
        <input type="text" class="mb-3 form-control custom-input" id="contact-firstname" name="contactfirstname"
          placeholder="First Name *" required>
        <input type="text" class="mb-3 form-control custom-input" id="contact-lastname" name="contactlastname"
          placeholder="Last Name *" required>
        <input type="email" class="mb-3 form-control custom-input" id="contact-email" name="contactemail"
          placeholder="Email Address *" required>
        <input type="tel" class="mb-3 form-control custom-input" id="contact-phone" name="contactphone"
          placeholder="Phone Number *" required>
        <textarea class="mb-4 form-control custom-input" id="contact-message" rows="3" name="contactmessage" placeholder="Message *"
          required></textarea>
        <center><button type="submit" class="btn btn-danger fs-5">SUBMIT</button></center>
        </form>

        <!-- loading spinner -->
        <div id="loading-spinner" class="text-center" style="display: none;">
          <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p class="m-3">Submitting your inquiry...</p>
        </div>
    </div>
    

  </div>
</div>

<div id="custom-alert" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title text-white">Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-0" id="alert-message">Message here.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{> footer}}