{{> header}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Restaurant",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "{{city}}",
    "addressRegion": "{{state}}",
    "postalCode": "{{zip}}",
    "streetAddress": "{{address}}"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.8",
    "reviewCount": "300"
  },
  "name": "{{company}}",
  "openingHours": [
    "Mo-Sa 10:00-19:00"
  ],
  "priceRange": "$$",
  "servesCuisine": [
    "Middle Eastern",
    "Mediterranean"
  ],
  "telephone": "{{phone}}",
  "url": "{{url}}",
  "hasMenu": "{{menu}}",
  "acceptsReservations": false,
  "paymentAccepted":"Cash, Credit Card, Apple Pay, Google Pay, NFC Payment",
  "currenciesAccepted": "USD",
  "email": "{{email}}",
  "smokingAllowed": false,
  "sameAs": [
      "{{grubhub}}",
      "{{menu}}",
      "{{facebook}}",
      "{{yelp}}",
      "{{ubereats}}",
      "{{doordash}}",
      "{{instagram}}"
    ],
     "orderAction": [
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{doordash}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "DoorDash"
      }
    },
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{ubereats}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "UberEats"
      }
    },
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{menu}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "Clover"
      }
    },
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{grubhub}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "Grubhub"
      }
    }
  ]
}
</script>


{{> navbar}}

<main>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        {{!-- For the image: warm tones and vibrant ingredients with slight dark overlay to the images so the text and buttons are easy to read --}}
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>A Taste of Mesopotamia: Savor the Flavors of Ancient Traditions</h1>
            <p class="opacity-75">Experience dishes inspired by centuries of culinary heritage, crafted with love and authenticity.</p>
            <p><a class="btn btn-lg btn-danger" href="{{menu}}">EXPLORE OUR MENU</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        {{!-- For the image: kabob plate (hummus + tabouleh) with a focus on color and variety --}}
        <div class="container">
          <div class="carousel-caption">
            <h1>Journey Across the Mediterranean: Where East Meets West</h1>
            <p>Discover a fusion of vibrant Middle Eastern and Mediterranean flavors that delight the senses.</p>
            <p><a class="btn btn-lg btn-danger" href="catering">CATER YOUR EVENT</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        {{!-- For the image: table with a mix of dishes --}}
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>From Baghdad to San Diego: A Culinary Odyssey</h1>
            <p>Join us on a journey of taste, where every dish tells a story of culture, history, and passion.</p>
            <p><a class="btn btn-lg btn-danger" href="our-story">DISCOVER OUR STORY</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Craftsmanship in Every Dish</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <h2 class="fw-normal">Stories of Delight</h2>
        <p>Uncover the charm that keeps our guests coming back for more unforgettable visits.</p>
        <p><a class="btn btn-outline-danger" href="{{yelp}}">View Yelp Reviews &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>A Fusion of Flavors</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <h2 class="fw-normal">A Fusion of Flavors</h2>
        <p>Experience the perfect blend of Middle Eastern tradition and Mediterranean freshness in every bite.
        </p>
        <p><a class="btn btn-outline-danger" href="catering">Feast on Us &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>An Atmosphere of Warmth and Hospitality</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
        </svg>
        <h2 class="fw-normal">Warmth and Hospitality Await</h2>
        <p>At Tigris Mediterranean Grille, every dish is crafted with care and served with love.</p>
        <p><a class="btn btn-outline-danger" href="tel:+18585769999">Call Us Now &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Craftsmanship <span class="text-body-secondary">in Every Dish</span></h2>
        <p class="lead">Our chefs bring generations of expertise to the table, crafting each dish with passion and precision.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Craftsmanship in Every Dish</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Authentic Flavors: <span class="text-body-secondary">A Culinary Experience Like No Other</span></h2>
        <p class="lead">From the moment you step inside, you’re treated like family—because at Tigris, you are.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Authentic Flavors: A Culinary Experience Like No Other</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Our Commitment: <span
            class="text-body-secondary">Quality, Hospitality, and Tradition</span></h2>
        <p class="lead">At Tigris Mediterranean Grille, every dish is crafted with care and served with love.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Our Commitment: Quality, Hospitality, and Tradition</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

    {{!-- Map --}}
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13410.210757627956!2d-117.1304295!3d32.8306151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x39c5d62b7baaf06!2sTigris%20Mediterranean%20Grille!5e0!3m2!1sen!2sus!4v1616021732440!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <hr class="featurette-divider">

  </div><!-- /.container -->

    {{!-- Restaurant Info --}}
    <div class="container">
      <div class="row">

        <div class="col-md-6 d-flex flex-column align-items-center mb-5 mb-md-0">
          <h5>INFORMATION</h5>
          <div class="text-left">
          <p>
            <a href="https://maps.google.com/maps/dir//Tigris+Mediterranean+Grille+5285+Overland+Ave+%23102+San+Diego,+CA+92123/@32.8306151,-117.1304295,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dbffb46eb566e1:0x39c5d62b7baaf06"><i class="bi bi-geo-alt-fill"></i> 5285 Overland Ave #102
            <br>
            San Diego, California 92123
            </a>
          </p>
          <p>
            <a href="tel:{{phone}}"><i class="bi bi-telephone-fill"></i> Phone: {{phone}}</a>
          </p>
          <p>
            <a href="mailto:{{email}}"><i class="bi bi-envelope-fill"></i> Email: {{email}}</a>
          </p>
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column align-items-center">
          <h5>HOURS OF OPERATION</h5>
          <div class="hours-list">
            <p><span class="day">Monday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
            <p><span class="day">Tuesday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
            <p><span class="day">Wednesday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
            <p><span class="day">Thursday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
            <p><span class="day">Friday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
            <p><span class="day">Saturday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
            <p><span class="day">Sunday:</span> <span class="time ml-2">Closed</span></p>
          </div>
        </div>

      </div>
    </div>


</main>

{{> footer}}