{{> header}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Restaurant",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "{{city}}",
    "addressRegion": "{{state}}",
    "postalCode": "{{zip}}",
    "streetAddress": "{{address}}"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.8",
    "reviewCount": "300"
  },
  "name": "{{company}}",
  "openingHours": [
    "Mo-Sa 10:00-19:00"
  ],
  "priceRange": "$$",
  "servesCuisine": [
    "Middle Eastern",
    "Mediterranean"
  ],
  "telephone": "{{phone}}",
  "url": "{{url}}",
  "hasMenu": "{{menu}}",
  "acceptsReservations": false,
  "paymentAccepted":"Cash, Credit Card, Apple Pay, Google Pay, NFC Payment",
  "currenciesAccepted": "USD",
  "email": "{{email}}",
  "smokingAllowed": false,
  "sameAs": [
      "{{grubhub}}",
      "{{menu}}",
      "{{facebook}}",
      "{{yelp}}",
      "{{ubereats}}",
      "{{doordash}}",
      "{{instagram}}"
    ],
     "orderAction": [
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{doordash}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "DoorDash"
      }
    },
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{ubereats}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "UberEats"
      }
    },
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{menu}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "Clover"
      }
    },
    {
      "@type": "OrderAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{grubhub}}",
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/MobileWebPlatform"
        ]
      },
      "deliveryMethod": {
        "@type": "DeliveryMethod",
        "name": "Grubhub"
      }
    }
  ]
}
</script>

{{> navbar}}

<main>

   {{!-- Video --}}
  <div></div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing scroll-animate">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <title>Stories of Delight</title>
        <img class="round-imgs" src="/images/food/chickentikka-3.png"/>
        <h2 class="fw-normal pt-3">Stories of Delight</h2>
        <p>Uncover the charm that keeps our guests coming back for more unforgettable visits.</p>
        <button class="btn btn-outline-danger" onclick="window.open('{{yelp}}','_blank')" >View Yelp Reviews &raquo;</button>
      </div>
      <div class="col-lg-4">
        <title>A Fusion of Flavors</title>
        <img class="round-imgs" src="/images/food/meat-flatbread.png"/>
        <h2 class="fw-normal pt-3">A Fusion of Flavors</h2>
        <p>Savor a delicious blend of vibrant flavors and timeless tradition in every bite.</p>
        <button class="btn btn-outline-danger" onclick="window.open('menu','_blank')">See Our Menu &raquo;</button>
      </div>
      <div class="col-lg-4">
        <title>An Atmosphere of Warmth and Hospitality</title>
        <img class="round-imgs" src="/images/food/beefkabob-3.png"/>
        <h2 class="fw-normal pt-3">Warm Welcome</h2>
        <p>At Tigris Mediterranean Grille, every dish is crafted with care and served with love.</p>
        <button class="btn btn-outline-danger" onclick="window.open('tel:{{phone}}','_blank')">Call Us Now &raquo;</button>
      </div>
    </div>
  </div>

  <div role="img" aria-label="Three kinds of flatbreads" class="parallax my-5 d-flex align-items-center text-center justify-content-center" style="background-image: url('/images/food/flatbreads-dark-1000.png');">
    <h1 style="color: white; font-size: 2.5rem; text-shadow: 2px 2px 5px rgba(0, 0, 0,0.7);">TIGRIS MEDITERRANEAN GRILLE</h1>
  </div>


  <div class="container marketing">
    <div class="row featurette scroll-animate">
      <div class="col-md-7 text-center text-sm-start">
        <h2 class="fw-bold lh-1 pb-2">
          Craftsmanship <span style="color: #003049">in Every Dish</span>
        </h2>
        <p class="lead">
          Each bite tells a story. Our chefs pour generations of passion and expertise into every recipe, blending authentic Mediterranean flavors with a modern twist. Experience dishes inspired by centuries of culinary heritage, crafted with love and authenticity.
        </p>
        <blockquote class="text-muted fst-italic">
          "Every dish feels like it was made just for me." - A Happy Customer
        </blockquote>
        <button onclick="window.open('menu','_blank')" class="btn btn-danger my-3">Discover Our Dishes</button>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Craftsmanship in Every Dish</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider scroll-animate">

    <div class="row featurette scroll-animate">
      <div class="col-md-7 order-md-2 text-center text-sm-start">
        <h2 class="fw-bold lh-1 pb-2">
          Authentic Flavors: <span style="color: #003049">A Culinary Experience Like No Other</span>
        </h2>
        <p class="lead">
          Step into a world of bold spices, fresh ingredients, and heartfelt hospitality. At Tigris, we don't just serve meals—we create memories. Discover a fusion of vibrant Middle Eastern and Mediterranean flavors that delight the senses.
        </p>
        <blockquote class="text-muted fst-italic">
          "The flavors are unforgettable, and the experience is unmatched." - Foodie Review
        </blockquote>
        <button onclick="window.open('catering','_blank')" class="btn btn-danger my-3">Explore Catering Options</button>
      </div>
      <div class="col-md-5 order-md-1 d-flex justify-content-center align-items-center">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Authentic Flavors: A Culinary Experience Like No Other</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider scroll-animate">

    <div class="row featurette scroll-animate">
      <div class="col-md-7 text-center text-sm-start">
        <h2 class="fw-bold lh-1 pb-2">Our Commitment: <span style="color: #003049">Quality,
            Hospitality, and Tradition</span></h2>
        <p class="lead">
          We're more than a restaurant—we're a celebration of Mediterranean culture, where every guest is treated like family and every dish is crafted with love. Join us on a journey of taste, where every dish tells a story of culture, history, and passion.
        </p>
        <blockquote class="text-muted fst-italic">
          "Tigris feels like home, but with the most amazing food!" - Local Regular
        </blockquote>
        <button onclick="window.open('our-story','_blank')" class="btn btn-danger my-3">Learn About Our Story</button>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Our Commitment: Quality, Hospitality, and Tradition</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
  </div>

  {{!-- Restaurant Picture --}}
  <div role="img" aria-label="Tigris Medierranean Grille outdoors" class="parallax mt-5" style="background-image: url('/images/misc/outside.jpeg'); height: 450px"></div>

  {{!-- carousel --}}
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        {{!-- <div role="img" aria-label="A beef tikka plate and a chicken shawarma plates" class="parallax" style="background-image: url('/images/food/mix.jpg');background-attachment:scroll"></div> --}}
        <img src="/images/food/kebab.jpg" class="d-block w-100" style="height:550px" loading="lazy"></img>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="text-white">A Taste of Mesopotamia: Savor the Flavors of Ancient Traditions</h1>
            <button class="btn btn-danger" onclick="window.open('{{menu}}', '_blank')">EXPLORE OUR MENU</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        {{!-- <div class="parallax" role="img" aria-label="A chicken tikka plate" style="background-image: url('/images/food/tikka.jpg');background-attachment:scroll"></div> --}}
        <img src="/images/food/tikka.jpg" class="d-block w-100" style="height:550px" loading="lazy"></img>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="text-white">Journey Across the Mediterranean: Where East Meets West</h1>
            <button class="btn btn-danger" onclick="window.open('catering', '_blank')">CATER YOUR EVENT</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        {{!-- <div class="parallax" role="img" aria-label="A Tigris fries plate" style="background-image: url('/images/food/tigrisfries.jpg');background-attachment:scroll"></div> --}}
        <img src="/images/food/tigrisfries.jpg" class="d-block w-100" style="height:550px" loading="lazy"></img>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="text-white">From Baghdad to San Diego: A Culinary Odyssey</h1>
            <button class="btn btn-danger" onclick="window.open('our-story', '_blank')">DISCOVER OUR STORY</button>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {{!-- Horizontal Gallery --}}
  <div class="container my-3" style="max-width: 100% !important; padding: 0 0">
    <div class="row overflow-auto flex-nowrap gx-0">
      <div class="col d-flex justify-content-center align-items-center" style="min-width: 200px;">
        <h2>Scroll to<br> the right > </h2>
      </div>
      <div class="col-auto" style="max-width: none">
        <img src="/images/food/tikka.jpg" alt="Image 1" style="height: 700px;" loading="lazy">
      </div>
      <div class="col-auto" style="max-width: none">
        <img src="/images/food/tigrisfries.jpg" alt="Image 2" style="height: 700px;" loading="lazy">
      </div>
      <div class="col-auto" style="max-width: none">
        <img src="/images/food/kebob.jpg" alt="Image 3" style="height: 700px;" loading="lazy">
      </div>
      <div class="col-auto" style="max-width: none">
        <img src="/images/food/falafel.jpg"  alt="Image 4" style="height: 700px;" loading="lazy">
      </div>
      <div class="col-auto" style="max-width: none">
        <img src="/images/food/falafel_plate.jpg"  alt="Image 5" style="height: 700px;" loading="lazy">
      </div>
    </div>
  </div>



  {{!-- Reviews --}}
  <h1 class="text-center scroll-animate" style="margin-top: 4rem">What Our Customers Are Saying</h1>
  <div id="reviewsCarousel" class="carousel slide carousel-dark d-flex align-items-center" data-bs-ride="carousel" data-bs-interval="7000">
    <!-- Outer Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <div class="carousel-inner scroll-animate">
      <!-- Review Slide -->
      <div class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm d-flex justify-content-center align-items-center"
            style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Leslie McDonald</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">I love Tigris Grill and so did all of my guests! I had a party and served 60+ people
                and everything was excellent! Best service and food. I give them a 5 star all around. Whether you go for
                lunch, dinner or you cater a party, you’ll get awesome food that is always consistently delicious!</p>
              <a href="https://g.co/kgs/KhSoipC" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm d-flex justify-content-center align-items-center"
            style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Sherry G.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Was in the neighborhood, so stopped by to order lunch for my office. Ordered 3 Gyros
                and Fries. The food was Fantastic! Fries seasoned just right! The Gyros were huge and delicious! We
                couldn't finish and so had the other half for dinner and was not disappointed even with heating up.</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=8qDFvDkMl9Tvbo6-ApFRVg"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on
                Yelp!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Zabbie S.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">If I could give 10 stars I would. Our family owns a large chain of restaurants all
                throughout the nation. From time to time I like to eat at other Mediterranean restaurants to see what
                other similar in the industry are cooking up.
                <br>The rice is perfect, the dill dressing that compliments it is perfect. The hummus is perfect, the
                taboli is perfect.
                <br>
                <br>The best part the kebab is made PERFECT! You can tell all the ingredients are high quality and well
                worth it for the price you pay.
                <br>I got 3 meats to try and all of them were cooked to perfect temperature and seasoned just right
                <br>1. The beef kebab
                <br>2. The chicken tikka
                <br>3. Gyro meat (not shown in the picture, I ordered separately)<br>I highly recommend giving this
                place a shot. Reply to this comment and let me know your thoughts after you try this place for yourself.
              </p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=9DHrdP6WOhrKxkz9jlBvPg"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on Google
                Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm d-flex justify-content-center align-items-center"
            style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Jasmin B.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Always great service when I come to Tigris. I forgot the guys name but he is always
                extremely nice. The portions sizes are very generous and the flavor of the food itself is always on
                point. I usually order the salmon plate but today I decided to try something else and it took was
                delicious. I suggest whenever you come here to order food opt in for their garlic sauce it is a great
                pair with the protein and rice options. I definitely recommend this place if you're near Kearny Mesa.
              </p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=QdDHw3LQ1TbWqCwEAt7hjQ"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on
                Yelp!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Rose Allas</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Franky and his restaurant KILLED it! Tigris catered our AMD San Diego Spring Social
                today, all but GREAT reviews! Everyone all the way up to the new Corporate VP/site lead were highly
                impressed! You're on the map now, Franky! Thank you for the menus! There were over 40 attendees and
                absolutely NO COMPLAINTS!!<br>Vegetarian options: Our staff is a mix of Vegetarians and Non-vegetarians
                but the the "meat lovers'" crossed over to the Vegetarian selections! You can't lose with Tigris!! I
                encourage you to give them a try...you'll find yourselves going back! ❤️👍 The Gyro and Chicken Sharwma
                are DELISH!!😋</p>
              <a href="https://g.co/kgs/EXCNvqx" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Jeff Cooperhouse</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Great Mediterranean cuisine at Tigris! Ordered the chicken shawarma and gyro plates
                which both tasted great. Loved the pita and hummus. The service is very friendly and quick. Recommend!
              </p>
              <a href="https://g.co/kgs/ZUpurxF" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Alexis S.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Service A1. Any plate on the menu A1. Food and seasoning of ANY item A1. Give Tigris
                your business and they will give you a happy tummy !</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=Np3xonjg_lOgTQW-Bd5Qjg"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on
                Yelp!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Patrick Harris</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Tigris Mediterranean Grill sets the bar at all levels, from customer service to taste
                and portion sizes. The workers all greet you with a hello and a smile as you walk through the door
                (which is rare anywhere today), they are always busy taking care of their customers and making sure they
                leave happy. Give Tigris your business, You will not regret it.</p>
              <a href="https://g.co/kgs/mwLJGxz" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">E B (Lizzardbugs)</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">The customer service was great...The food was amazing!!! It's a hole in a wall, gem.
                Tons of food, reasonably priced.</p>
              <a href="https://g.co/kgs/Br81B4d" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Courtney Hendo</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">I highly recommend this place—their food is the best shawarma I've ever tasted. The
                portions are generous, and their customer service is exceptional! I always feel at home when I visit.
                Please support this business!</p>
              <a href="https://g.co/kgs/6ttBKFp" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Monica K.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">My company hired this company for catering a while back and while I was in the area
                today I figured I'd tried it out. The catering was great but the hot and fresh food was even better. I
                ordered the falafel plate and after tip it came to $23, which I thought was steep. After being served
                and seeing the portions, $23 was a steal! I was only able to eat about a third for lunch and saved the
                left overs for later. Overall, 10/10 great food for a great price.</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=xfVCd_NBhkNH2jQKAp55yA"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on Google
                Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Debbie Redelings</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Love this place! Whenever we share food from this place with our friends, they always
                ask where we got it from because it’s sooo good! Great service and big portions too!</p>
              <a href="https://g.co/kgs/2ChjCMx" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Andrea B.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">This place puts other Mediterranean restaurants to shame. Food is so good and the
                portions are extremely generous. We moved out of San Diego but whenever we're nearby, we always try to
                stop by and take food home.<br>Thank you Tigris!</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=msC4zkh4e4KkX8W0s9z7hw"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on Google
                Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">irakli utu</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">tastiest kebob i’ve ever ate in my life. hummus and tomato salad were
                fresh.<br>friendly staff, ready to answer any questions from the menu.</p>
              <a href="https://g.co/kgs/X6i5Jxe" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Rebecca R.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">This salmon dish was more than I expected. It was awesome. Everything was perfectly
                cooked and prepared. I can't wait to go back. Check it out. You will not be disappointed.</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=xPz3o73JtW1aHaDRYts6Kw"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on Google
                Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">John Kay</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Incredibly tasty food and courteous staff.<br>Ate a beef plate with the salad, hummus
                and garlic sauce.<br>It was incredible.</p>
              <a href="https://g.co/kgs/VXnBKPf" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Rosa Villagran</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Tigris is exceptionally delicious. The fusion of flavors is so warming to the
                stomach. The atmosphere is warm with outstanding customer service. The prices are very great with
                immense portions!<br>Thank you Tigris</p>
              <a href="https://g.co/kgs/6TKVdq8" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Sean M.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Great quality. Generous portions. Everything seems fresh from the moment I get there.
                I always intend to eat only half and take the rest for a later meal. It's so good. I haven't been able
                to do that yet.</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=CFTlAC_8xdQzcNzLLwVGxg"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on
                Yelp!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Hakim Aziz</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Highly recommended place to go! Probably one of the best Mediterranean food in San
                Diego. Friendly service, generous portions and good vibes with great playlist of 80-90s music playing
                all the time while you enjoy your food.</p>
              <a href="https://g.co/kgs/xmX5ffP" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">John M.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">I came to Tigris Mediterranean Grille on a Friday afternoon and it was relatively
                empty. After eating their food, I'm surprised they don't have more business! The restaurant had plenty
                of seating and was pretty clean so my friends and I got seated quickly as well. I originally ordered a
                ground beef kebab plate but I was very indecisive between that and the ground chicken kebab. The cashier
                then offered to give me one of each, which I greatly appreciated! The cashier brought out my friends and
                I's food out when it was ready and I was surprised by the quantity of food they served. The kebabs were
                served on a fluffy bed of saffron rice, a refreshing tabbouleh salad, and a smooth, garlicky hummus
                paired with a warm pita to dip it in. The kebabs were freshly grilled and had a savory, meaty flavor to
                them that you would expect from a kebab. If you're looking for great mediterranean food that gives you
                bang for buck, I highly recommend Tigris!</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=PlDpgu2ttnxNSSiIz0siKA"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on
                Yelp!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Jessie-Marie Wasson</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">I love Gyros and I get them at every Mediterranean restaurant I go to, and I have to
                say that this restaurant had the best Gyros I have ever had. The meat was so delicious and tender, and
                they put so much of it in the sandwich. It was awesome.</p>
              <a href="https://g.co/kgs/35cKiYT" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Samstrex</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Hands down the best Mediterranean restaurant in the area. Food was extremely fresh
                and came in a very nice quantity. Hummus was delicious, and the meat was extremely juicy and flavorful.
                Frankie was very accommodating and made sure all of our needs were met. Highly recommend checking this
                place out for good Mediterranean food!!</p>
              <a href="https://g.co/kgs/WzWCHVu" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Tori M.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">I took my order to go but I stopped mid-meal to write this review. The food tastes
                amazing, looks amazing, smells amazing, the service was also amazing. I got the Chicken Tikka Plate,
                best tasting meal I've ever had the flavors are so good, if you could pick a last meal on earth let it
                be this. If you want the best, freshly prepared meal that tastes like your ancestors gifted it to you
                then you should go here.</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=vqdW04UKV9VsxPoP1rxc0A"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on
                Yelp!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Zoe Freedman</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">I found this place randomly a few years ago and have been coming back since, even
                though it's not close to my house! The food is absolutely incredible. My favorite Mediterranean grill in
                San Diego. They cook the meat perfectly, the rice is super flavorful, and all of their sauces are
                delicious. I am so grateful this place exists! The cherry on top is that the team inside is always SO
                friendly, helpful, and pleasant.</p>
              <a href="https://g.co/kgs/VkKEWht" target="_blank" class="text-danger text-decoration-underline "
                style="font-size: 0.9rem;">View on Google Maps</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Review Slide -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="card text-center mx-auto shadow-sm" style="max-width: 600px;">
            <div class="card-body">
              <h5 class="card-title">Mark S.</h5>
              <p class="card-text"><small class="text-muted">Rating: ⭐⭐⭐⭐⭐</small></p>
              <p class="card-text">Clean restaurants, great food. My family and I are eating at the restaurant now the
                food is very flavorful fast service. They are friendly. They came to offer us additional sauces and
                extra bread. Really outstanding garlic sauce. The ground beef is really good and has a nice barbecue
                flavor.</p>
              <a href="https://www.yelp.com/biz/tigris-mediterranean-grille-san-diego?hrid=bRf3AU5Mlpz4_GP6TWUkpw"
                target="_blank" class="text-danger text-decoration-underline " style="font-size: 0.9rem;">View on
                Yelp!</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Outer Carousel Controls -->
    <button class="carousel-control-next" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-fluid marketing scroll-animate">
    {{!-- Map --}}
    <iframe class="google-map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13410.210757627956!2d-117.1304295!3d32.8306151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x39c5d62b7baaf06!2sTigris%20Mediterranean%20Grille!5e0!3m2!1sen!2sus!4v1616021732440!5m2!1sen!2sus"
      width="100%" height="450" allowfullscreen="" loading="lazy"></iframe>

    {{!-- Restaurant Info --}}
    <div class="row mt-5">
      <div class="col-md-6 d-flex flex-column align-items-center mb-5 mb-md-0">
        <h3>CONTACT INFORMATION</h3>
        <div class="text-left">
          <p>
            <a
              href="https://maps.google.com/maps/dir//Tigris+Mediterranean+Grille+5285+Overland+Ave+%23102+San+Diego,+CA+92123/@32.8306151,-117.1304295,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x80dbffb46eb566e1:0x39c5d62b7baaf06"><i
                class="bi bi-geo-alt-fill"></i> 5285 Overland Ave #102
              <br>
              San Diego, California 92123
            </a>
          </p>
          <p>
            <a href="tel:{{phone}}"><i class="bi bi-telephone-fill"></i> Phone: {{phone}}</a>
          </p>
          <p>
            <a href="mailto:{{email}}"><i class="bi bi-envelope-fill"></i> Email: {{email}}</a>
          </p>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column align-items-center">
        <h3>HOURS OF OPERATION</h3>
        <div class="hours-list">
          <p><span class="day">Monday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
          <p><span class="day">Tuesday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
          <p><span class="day">Wednesday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
          <p><span class="day">Thursday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
          <p><span class="day">Friday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
          <p><span class="day">Saturday:</span> <span class="time ml-2">10 AM - 7 PM</span></p>
          <p><span class="day">Sunday:</span> <span class="time ml-2">Closed</span></p>
        </div>
      </div>

    </div>
  </div>


</main>

{{> footer}}

<script src="/assets/dist/js/animation.js"></script>