<div class="content container">
    <h1>
        Terms of Use
    </h1>
    <p>
        <em>
            <strong>Last Updated: 2/1/2020</strong>
        </em>
        <br />

        <br />
        These are the terms of use for {{company}} (the “Terms”). These Terms are important and they affect your legal
        rights, so please read them carefully. Please note that Section 18 of these Terms contains a mandatory
        arbitration provision that requires the use of arbitration on an individual basis and limits the remedies
        available to you in the event of certain disputes.
        <br />

        <br />
        By accessing or using the websites, mobile applications or blogs (collectively, the “Sites”) provided by
        {{company}} or our subsidiaries or other affiliates (collectively, “{{company}},” “we,” “us” or “our”)
        that link to these Terms, you agree to be bound by these Terms and all of the terms incorporated herein by
        reference. If you do not agree to these Terms, you may not access or use the Sites or order, receive or use the
        coffee or other products made available through the Sites (collectively, the “Products”).
        <br />

        <br />
        These Terms do not alter in any way the terms or conditions of any other agreement you may have with us in
        respect of any products, services or otherwise. If you are using the Sites on behalf of any entity, you
        represent and warrant that you are authorized to accept these Terms on such entity’s behalf and that such entity
        agrees to be responsible to us if you or such entity violates these Terms.
        <br />

        <br />
        {{company}} reserves the right to change or modify these Terms at any time and in our sole discretion. If we
        make changes to these Terms, we will provide notice of such changes, such as by sending an email notification,
        providing notice through the Sites or updating the “Last Updated” date at the beginning of these Terms. By
        continuing to access or use the Sites or order, receive or use Products, you confirm your acceptance of the
        revised Terms and all of the terms incorporated therein by reference. We encourage you to review the Terms
        frequently to ensure that you understand the terms and conditions that apply when you access or use the Sites or
        order, receive or use the Products. If you do not agree to the revised Terms, you may not access or use the
        Sites or order, receive or use the Products.
        <br />

        <br />
        <strong>1. Privacy Policy</strong>
        <br />

        <br />
        Please refer to our
        <a href="/privacy">Privacy Policy</a>
        for information about how we collect, use and disclose information about you.
        <br />

        <br />
        <strong>2. Eligibility</strong>
        <br />

        <br />
        The Sites are not targeted toward or intended for use by anyone under the age of 18. By using the Sites, you
        represent and warrant that you (a) are 18 years of age or older, (b) have not been previously suspended or
        removed from the Sites, or engaged in any activity that could result in suspension or removal from the Sites,
        (c) do not have more than one {{company}} account, and (d) have full power and authority to enter into these
        Terms and in so doing will not violate any other agreement to which you are a party.
        <br />

        <br />
        <strong>3. Registration, Account and Communication Preferences</strong>
        <br />

        <br />
        In order to access and use certain areas or features of the Sites, you will need to register for a {{company}}
        account. By creating an account, you agree to (a) provide accurate, current and complete account information,
        (b) maintain and promptly update from time to time as necessary your account information, (c) maintain the
        security of your password and accept all risks of unauthorized access to your account and the information you
        provide to us, and (d) immediately notify us if you discover or otherwise suspect any security breaches related
        to the Sites or your account.
        <br />

        <br />
        By creating a {{company}} account, you also consent to receive electronic communications from {{company}}
        (e.g., via email or by posting notices to the Sites). These communications may include notices about your
        account (e.g., payment authorizations, password changes and other transactional information) and are part of
        your relationship with us. You agree that any notices, agreements, disclosures or other communications that we
        send to you electronically will satisfy any legal communication requirements, including, but not limited to,
        that such communications be in writing. You should maintain copies of electronic communications from us by
        printing a paper copy or saving an electronic copy. We may also send you promotional communications via email,
        including, but not limited to, newsletters, special offers, surveys and other news and information we think will
        be of interest to you. You may opt out of receiving these promotional emails at any time by following the
        unsubscribe instructions provided therein.
        <br />

        <br />
        <strong>4. Terms of Sale</strong>
        <br />

        <br />
        <strong> 4.1. Coffee Subscriptions; Continuous Subscriptions; Cancellation
            Policy</strong>
        <br />

        <br />
        <strong> Coffee Subscriptions.</strong>We
        offer a variety of different coffee subscription plans (each, a “Coffee Subscription”). For more information
        about our Coffee Subscriptions, please visit the
        <a href="/">home</a>.
        <br />

        <br />
        <strong> Continuous Subscriptions.</strong>
        WHEN YOU REGISTER FOR A COFFEE SUBSCRIPTION, YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT (A) {{company}} (OR OUR
        THIRD PARTY PAYMENT PROCESSOR) IS AUTHORIZED TO CHARGE YOU ON A RECURRING BASIS FOR YOUR COFFEE SUBSCRIPTION (IN
        ADDITION TO ANY APPLICABLE TAXES AND OTHER CHARGES) FOR AS LONG AS YOUR COFFEE SUBSCRIPTION CONTINUES, AND (B)
        YOUR COFFEE SUBSCRIPTION IS CONTINUOUS UNTIL YOU CANCEL IT OR WE SUSPEND OR STOP PROVIDING ACCESS TO THE SITES
        OR PRODUCTS IN ACCORDANCE WITH THESE TERMS.
        <br />

        <br />
        <strong> Cancellation Policy.</strong>YOU
        MAY CANCEL YOUR COFFEE SUBSCRIPTION AT ANY TIME BY EMAILING US AT HELP@{{domain}} AND FOLLOWING THE
        INSTRUCTIONS IN THE EMAIL WE SEND YOU IN RESPONSE TO YOUR CANCELLATION REQUEST. DEPENDING ON YOUR RECURRING
        CUT-OFF DATE, WHICH IS AVAILABLE ON YOUR “ACCOUNT ” PAGE, YOUR CANCELLATION WILL BE EFFECTIVE SIX(6) DAYS
        AFTER YOU COMPLETE THE CANCELLATION PROCESS. YOU ARE RESPONSIBLE FOR ALL COFFEE SUBSCRIPTION CHARGES (IN
        ADDITION TO ANY APPLICABLE TAXES AND OTHER CHARGES) INCURRED BEFORE THE EFFECTIVE DATE OF YOUR CANCELLATION.
        <br />

        <br />
        In the event you cancel your Coffee Subscription, please note that we may
        still send you promotional communications about {{company}}, unless you opt out of receiving those
        communications by following the unsubscribe instructions provided therein.
        <br />

        <br />
        <strong> 4.2. Gifts</strong>
        <br />

        <br />
        You have the ability to purchase subscriptions for other people through the
        Sites (“Gifts”). We offer various Gift packages, so please visit the
        <a href="/shop">Gifts</a>
        page on our website.
        <br />

        <br />
        When you purchase a Gift, we will send an email to the Gift recipient that can
        be used to redeem the Gift. The Gift recipient will be required to create a {{company}} account in order to
        access the Sites and redeem the Gift. Gifts are not refundable or redeemable for cash, unless otherwise required
        by applicable law. However, Gifts do not expire, and any unused balance will be placed in the Gift recipient’s
        {{company}} account.
        <br />

        <br />
        <strong> 4.3. Free Trials</strong>
        <br />

        <br />
        From time to time, to the extent legally permitted,we may offer free
        trials of certain subscriptions for specified periods of time without payment. If we offer you a free trial,
        the specific terms of your free trial will be provided in the marketing materials describing the particular
        trial or at registration.
        <br />

        <br />
        ONCE YOUR FREE TRIAL ENDS, WE (OR OUR THIRD PARTY PAYMENT PROCESSOR) WILL
        BEGIN BILLING YOUR DESIGNATED PAYMENT METHOD ON A RECURRING BASIS FOR YOUR SUBSCRIPTION (PLUS ANY APPLICABLE
        TAXES AND OTHER CHARGES) FOR AS LONG AS YOUR SUBSCRIPTION CONTINUES, UNLESS YOU CANCEL YOUR SUBSCRIPTION PRIOR
        TO THE END OF YOUR FREE TRIAL. INSTRUCTIONS FOR CANCELING YOUR SUBSCRIPTION ARE DESCRIBED IN SECTION 4.1 ABOVE.
        PLEASE NOTE THAT YOU WILL NOT RECEIVE A NOTICE FROM US THAT YOUR FREE TRIAL HAS ENDED OR THAT THE PAID PORTION
        OF YOUR SUBSCRIPTION HAS BEGUN. WE RESERVE THE RIGHT TO MODIFY OR TERMINATE FREE TRIALS AT ANY TIME, WITHOUT
        NOTICE AND IN OUR SOLE DISCRETION.
        <br />

        <br />
        <strong> 4.4. Payment and Billing Information</strong>
        <br />

        <br />
        By providing a credit card or other payment method that we accept, you
        represent and warrant that you are authorized to use the designated payment method and that you authorize us (or
        our third party payment processor) to charge your payment method for the total amount of your subscription or
        other purchase (including any applicable taxes and other charges) (collectively, as applicable, an “Order”). If
        the payment method cannot be verified, is invalid or is otherwise not acceptable, your Order may be suspended or
        cancelled. You must resolve any problem we encounter in order to proceed with your Order. In the event you want
        to change or update payment information associated with your {{company}} account, you can do so at any time by
        logging into your account and editing your payment information.
        <br />

        <br />
        You acknowledge that the amount billed may vary due to promotional offers,
        changes to your Coffee Subscription or changes in applicable taxes or other charges, and you authorize us (or
        our third party payment processor) to charge your payment method for the corresponding amount.
        <br />

        <br />
        <strong> 4.5. Pricing and Availability</strong>
        <br />

        <br />
        All prices are shown in U.S. dollars and applicable taxes and other charges,
        if any, are additional. We reserve the right to adjust prices as we may determine in our sole discretion, at any
        time and without notice; provided, however, that if we change the amounts or other charges associated with your
        Coffee Subscription, we will provide advance notice of such changes in accordance with Section 3. We will not,
        however, be able to notify you of changes in any applicable taxes. The shipment of coffee to you after our
        delivery of such notice will confirm your acceptance of such changes, unless you cancel your subscription(s) in
        accordance with the cancellation policies set forth in Section 4.1.
        <br />

        <br />
        All of our Products are subject to availability, and we reserve the right to
        impose quantity limits on any Order, to reject all or part of an Order, to discontinue offering certain Products
        and to substitute Products (including, but not limited to, specific coffees) without prior notice. We strive to
        provide you with high-quality Products, and given the perishable nature of certain Products and market
        conditions beyond our control, we may be required to make substitutions from time to time. If you are not
        satisfied with a substitution, please contact us at help@{{domain}}.
        <br />

        <br />
        <strong> 4.6. Taxes</strong>
        <br />

        <br />
        We will collect applicable sales tax on Products shipped to the states for
        which we determine we have a duty to collect sales tax. If an item is subject to sales tax, you agree that the
        amount of taxes shown at checkout may be adjusted. Several factors may cause this, such as variances between
        processor programs and changes in tax rates.
        <br />

        <br />
        <strong> 4.7. Shipping and Handling</strong>
        <br />

        <br />
        You agree to pay any shipping and handling charges shown at the time you make
        a purchase. We reserve the right to increase, decrease, add or eliminate shipping and handling charges from time
        to time, but we will provide notice of the charges applicable to you before you make your purchase. Generally,
        shipping is handled by a third party courier. When you purchase a Product from {{company}}, any shipping times
        shown on the Sites are estimates only. Actual delivery dates may vary. You agree that you will not obtain, or
        direct shipment of, a Product for export. All Products purchased from us are made pursuant to a shipment
        contract. This means that title to and the risk of loss of such Products passes to you upon our delivery of the
        Product to the third party courier.
        <br />

        <br />
        <strong> 4.8. Deliveries</strong>
        <br />

        <br />
        You are responsible for inspecting all Products you receive from us for any
        damage or other issues upon delivery. In addition, you are solely responsible for determining the freshness of
        the Products you receive.
        <br />
        If you are not at home when your delivery arrives, the courier will generally
        leave the package for you at your door. Any individual at the delivery address who accepts a delivery from us is
        presumed to be authorized to receive such delivery. In cases in which you have designated an alternative
        receiver, such person shall accept the delivery under all of the same terms and conditions that would apply had
        you accepted the delivery yourself.
        <br />

        <br />
        In the case of inclement weather or other events beyond our control that
        interfere with our ability to deliver your Order, we will attempt to deliver your Order as soon as reasonably
        possible. In some cases, delivery may occur prior to the scheduled delivery date. In the event that timely
        delivery of your coffee is not feasible, we will cancel your coffee delivery for the period so affected and
        issue you a credit or refund of the purchase price for that coffee delivery.
        <br />

        <br />
        <strong> 4.9. No Resale</strong>
        <br />

        <br />
        You are not permitted to resell or otherwise use the Products for commercial
        purposes.
        <br />

        <br />
        <strong> 4.10. Returns and Refunds</strong>
        <br />

        <br />
        If you are dissatisfied with a coffee for any reason, please contact us at
        help@{{domain}} within seven (7) days of the date you received the coffee and we will either replace the
        coffee at our expense or, depending on the circumstances, provide you a full or partial credit or refund of the
        purchase price for that coffee. We may require the return or photographic documentation of any coffee with which
        you are dissatisfied before we provide you a replacement,credit or refund.
        <br />

        <br />
        If any Product you receive arrives damaged, please contact us at
        help@{{domain}} and, depending on the circumstances, you will receive a partial or full credit or refund of
        the portion of the purchase price applicable to the damaged Product. We may require the return or photographic
        documentation of any damaged Product before we provide you a credit or refund
        
        <br /><br />

        If you are dissatisfied with any non-coffee Product you purchased through
        {{company}}, you may return the Product within thirty (30) days of the date you received the Product by
        contacting help@{{domain}} and following the shipping instructions we supply; provided, that all returned
        Products must be unused and in their original packaging. After we receive your returned Product, we will issue
        you a refund for the price you paid for the Product (less any applicable shipping and handling charges). If you
        do not comply with the terms of this section, you will be ineligible to receive a refund.
        <br />

        <br />
        <strong>5. License to Access and Use Our Sites and Content</strong>
        <br />

        <br />
        Unless otherwise indicated in writing by us, the Sites and all content and other materials contained therein,
        including, without limitation, the {{company}} logo and all designs, text, graphics, pictures, information,
        data, software, sound files, User Content (as defined in Section 11), other files and the selection and
        arrangement thereof (collectively, “Content”) are the proprietary property of {{company}} or our licensors or
        users, as applicable, and are protected by U.S. and international copyright laws.
        <br />

        <br />
        You are hereby granted a limited, nonexclusive, nontransferable, nonsublicensable license to access and use the
        Sites and Content. However, such license is subject to these Terms and does not include any right to (a) sell,
        resell or use commercially the Sites or Content, (b) distribute, publicly perform or publicly display any
        Content, (c) modify or otherwise make any derivative uses of the Sites or Content, or any portion thereof, (d)
        use any data mining, robots or similar data gathering or extraction methods, (e) download (other than the page
        caching) any portion of the Sites or Content, except as expressly permitted by us, and (f) use the Sites or
        Content other than for their intended purposes. Any use of the Sites or Content other than as specifically
        authorized herein, without our prior written permission, is strictly prohibited and will terminate the license
        granted herein. Such unauthorized use may also violate applicable laws, including, without limitation, copyright
        and trademark laws and applicable communications regulations and statutes. Unless explicitly stated by us,
        nothing in these Terms shall be construed as conferring any right or license to any patent, trademark, copyright
        or other proprietary rights of {{company}} or any third party, whether by estoppel, implication or otherwise.
        This license is revocable at any time.
        <br />

        <br />
        Notwithstanding anything to the contrary in these Terms, the Sites and Content may include software components
        provided by {{company}} or a third party that are subject to separate license terms, in which case those
        license terms will govern such software components.
        <br />

        <br />
        <strong>6. Repeat Infringer Policy; Copyright Complaints</strong>
        <br />

        <br />
        In accordance with the Digital Millennium Copyright Act and other applicable laws, we have adopted a policy of
        limiting access to the Sites by, or terminating the accounts of, users, in appropriate circumstances and in our
        sole discretion, who infringe the intellectual property rights of others. If you believe that anything on the
        Sites infringes any copyright that you own or control, you may file a notification of such infringement with our
        designated agent as set forth below:
        <br />

        <br />
        Name of Designated Agent: Legal Department
        <br />
        Address: {{company}}
        <br />
        Email: help@{{domain}}
        <br />

        <br />
        Please see
        <a href="https://www.copyright.gov/title17/92chap5.html">17 U.S.C. § 512(c)(3)</a>
        for the requirements of a proper notification. You should also note that if you knowingly make any material
        misrepresentation in your notification that the material or activity is infringing, you will be liable for any
        damages, including, without limitation, costs and attorneys’ fees, incurred by us or the alleged infringer as
        the result of our relying upon such misrepresentation in removing or disabling access to the material or
        activity claimed to be infringing.
        <br />

        <br />
        <strong>7. Trademarks</strong>
        <br />

        <br />
        “{{company}},” the {{company}} logo and any other {{company}} Product or service names, logos or slogans that
        may appear on the Sites or Products are trademarks of {{company}} and may not be copied, imitated or used, in
        whole or in part, without our prior written permission. You may not use any metatags or other “hidden text”
        utilizing “{{company}}” or any other name, trademark or Product or service name of {{company}} without our
        prior written permission. In addition, the look and feel of the Sites and Products, including, without
        limitation, all page headers, custom graphics, button icons and scripts, constitute the service mark, trademark
        or trade dress of {{company}} and may not be copied, imitated or used, in whole or in part, without our prior
        written permission. All other trademarks, registered trademarks, Product names and company names or logos
        mentioned on the Sites or Products are the property of their respective owners and may not be copied, imitated
        or used, in whole or in part, without the permission of the applicable trademark holder. Reference to any
        Products, services, processes or other information by name, trademark, manufacturer, supplier or otherwise does
        not constitute or imply endorsement, sponsorship or recommendation by {{company}}.
        <br />

        <br />
        <strong>8. Hyperlinks</strong>
        <br />

        <br />
        You are granted a limited, nonexclusive, nontransferable right to create a text hyperlink to the Sites for
        noncommercial purposes, provided that such link does not portray {{company}} or any of our Products in a false,
        misleading, derogatory or otherwise defamatory manner, and provided further that the linking site does not
        contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable.
        This limited right may be revoked at any time. You may not use a {{company}} logo or other proprietary graphic
        of {{company}} to link to the Sites without our express written permission. Further, you may not use, frame or
        utilize framing techniques to enclose any {{company}} trademark, logo or other proprietary information,
        including the images found on the Sites or Products, the content of any text or the layout or design of any
        page, or form contained on a page, on the Sites without our express written consent.
        <br />

        <br />
        {{company}} makes no claim or representation regarding, and accepts no responsibility for, the quality,
        content, nature or reliability of third party websites accessible by hyperlink from the Sites or of websites
        linking to the Sites. Such sites are not under our control, and we are not responsible for the contents of any
        linked site, any link contained in a linked site, or any review, changes or updates to such sites. We provide
        these links to you only as a convenience, and the inclusion of any link does not imply our affiliation,
        endorsement or adoption of any site or any information contained therein. When you leave the Sites, you should
        be aware that our terms and policies no longer govern. You should review the applicable terms and policies,
        including privacy and data gathering practices, of any site to which you navigate from the Sites.
    </p>
    <p>
        <strong>9. Third Party Content</strong>
        <br />

        <br />
        We may display content, advertisements and promotions from third parties through the Sites or in shipments with
        Products (collectively, “Third Party Content”). We do not control, endorse or adopt any Third Party Content, and
        we make no representations or warranties of any kind regarding such Third Party Content, including, without
        limitation, regarding its accuracy or completeness. You acknowledge and agree that your interactions with third
        parties providing Third Party Content are solely between you and such third parties, and that {{company}} is
        not responsible or liable in any manner for such interactions or Third Party Content.
    </p>
    <p>
        <strong>10. User Conduct</strong>
        <br />

        <br />
        You agree that you will not violate any law, contract, intellectual property or other third party right or
        commit a tort, and that you are solely responsible for your conduct, while accessing or using the Sites. You
        agree that you will abide by these Terms and will not:
    </p>
    <ul>
        <li>Engage in any harassing, threatening, intimidating, predatory or stalking conduct;</li>
        <li>Use or attempt to use another user’s account without authorization from such user and {{company}};</li>
        <li>Use the Sites in any manner that could interfere with, disrupt, negatively affect or inhibit other users
            from fully enjoying the Sites or that could damage, disable, overburden or impair the functioning of the
            Sites in any manner;</li>
        <li>Reverse engineer any aspect of the Sites or do anything that might discover source code or bypass or
            circumvent measures employed to prevent or limit access to any Content, area or code of the Sites;</li>
        <li>Attempt to circumvent any content-filtering techniques we employ or attempt to access any feature or area of
            the Sites that you are not authorized to access;</li>
        <li>Develop any third party applications that interact with User Content or the Sites without our prior written
            consent;</li>
        <li>Use any robot, spider, crawler, scraper, script, browser extension, offline reader or other automated means
            or interface not authorized by us to access the Sites, extract data or otherwise interfere with or modify
            the rendering of Site pages or functionality;</li>
        <li>Bypass or ignore instructions contained in the robots.txt file, accessible at
            {{domain}}/robots.txt, that controls all automated access to the Sites; or</li>
        <li>Use the Sites for any illegal or unauthorized purpose, or engage in, encourage or promote any activity that
            violates these Terms.</li>
    </ul>
    <p>
        <strong>11. User Content</strong>
        <br />

        <br />
        The Sites may include interactive features and areas that allow users to create, post, share or store content,
        including, but not limited to, recipes, reviews, photos, videos, music, sound, text, graphics, code, items or
        other materials (collectively, “User Content”). In the event you decide to share your User Content with others
        through the Sites or third party platforms, you understand that this User Content will be viewable by others in
        accordance with the privacy settings you establish. You agree that you are solely responsible for your User
        Content and for your use of any interactive features and areas of the Sites.
        <br />

        <br />
        By using the interactive features and areas of the Sites, you further agree not to create, post, share or store
        any of the following:
    </p>
    <ul>
        <li>User Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive,
            harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or
            otherwise objectionable;</li>
        <li>User Content that would constitute, encourage or provide instructions for a criminal offense, violate the
            rights of any party or otherwise create liability or violate any local, state, national or international
            law;</li>
        <li>User Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or
            proprietary right of any party;</li>
        <li>User Content that contains or depicts any statements, remarks or claims that do not reflect your honest
            views and experiences;</li>
        <li>User Content that impersonates, or misrepresents your affiliation with, any person or entity;</li>
        <li>User Content that references or depicts {{company}} or our Products but fails to disclose a material
            connection to us, if you have one (for example, if you are a {{company}} employee or paid blogger);</li>
        <li>User Content that contains any unsolicited promotions, political campaigning, advertising or solicitations;
        </li>
        <li>User Content that contains any private or personal information of a third party without such third party’s
            consent;</li>
        <li>User Content that references alcohol irresponsibly, such as references to overconsumption or use by minors;
        </li>
        <li>User Content that contains any viruses, corrupted data or other harmful, disruptive or destructive files or
            content; or</li>
        <li>User Content that, in our sole judgment, is objectionable or that restricts or inhibits any other person
            from using or enjoying the Sites or Products, or that may expose {{company}} or others to any harm or
            liability of any type.</li>
    </ul>
    <p>
        We are not responsible or liable for any User Content. Although we have no obligation to screen, edit or monitor
        User Content, we reserve the right, and have absolute discretion, to remove, screen or edit User Content posted
        or stored on the Sites at any time and for any reason, and you are solely responsible for creating backup copies
        of and replacing any User Content you post or store on the Sites at your sole cost and expense.
        <br />

        <br />
        <strong>12. Rights in User Content</strong>
        <br />

        <br />
        We do not claim any ownership interest in your User Content. However, by uploading, posting or submitting User
        Content to the Sites or to our pages or feeds on third party social media platforms (e.g., {{company}}’s
        Facebook page, Instagram page or Twitter feed), you hereby grant {{company}} a nonexclusive, royalty-free,
        worldwide, perpetual, irrevocable and fully sublicensable right and license to use, reproduce, modify, adapt,
        publish, translate, create derivative works from, distribute, perform and publicly display your User Content, in
        whole or in part, and your name, likeness, voice and persona in any manner or media and for any purpose
        whatsoever at our sole discretion, including, without limitation, for publicity, promotional, advertising,
        trade, business, illustration, artistic and other commercial and noncommercial purposes.
        <br />

        <br />
        By uploading, posting or submitting User Content to {{company}} through the Sites or through our pages or feeds
        on third party social media platforms, you represent and warrant that (a) such User Content is nonconfidential,
        (b) you own and control all of the rights to the User Content or you otherwise have all necessary rights to post
        such User Content, (c) you authorize {{company}} to use such User Content for the purposes described in these
        Terms, (d) the User Content is accurate and not misleading or harmful in any manner, and (e) the User Content,
        and your use and posting thereof, does not and will not violate these Terms or any applicable law, rule,
        regulation or third party right.
        <br />

        <br />
        <strong>13. Feedback</strong>
        <br />

        <br />
        Separate and apart from User Content, you can submit questions, comments, suggestions, ideas, original or
        creative materials or other information about {{company}}, the Sites or the Products (collectively,
        “Feedback”). Feedback is nonconfidential and shall become the sole property of {{company}}. {{company}} shall
        own exclusive rights, including, without limitation, all intellectual property rights, in and to such Feedback
        and shall be entitled to the unrestricted use and dissemination of this Feedback for any purpose, commercial or
        otherwise, without acknowledgment or compensation to you.
        <br />

        <br />
        <strong>14. Indemnification</strong>
        <br />

        <br />
        To the fullest extent permitted by applicable law, you agree to indemnify, defend and hold harmless Craft
        Coffee, and our respective past, present and future employees, officers, directors, contractors, consultants,
        equityholders, suppliers, vendors, service providers, parent companies, subsidiaries, affiliates, agents,
        representatives, predecessors, successors and assigns (individually and collectively, the “{{company}}
        Parties”), from and against all actual or alleged {{company}} Party or third party claims, damages, awards,
        judgments, losses, liabilities, obligations, penalties, interest, fees, expenses (including, without limitation,
        attorneys’ fees and expenses) and costs (including, without limitation, court costs, costs of settlement and
        costs of pursuing indemnification and insurance), of every kind and nature whatsoever, whether known or unknown,
        foreseen or unforeseen, matured or unmatured, or suspected or unsuspected, in law or equity, whether in tort,
        contract or otherwise (collectively, “Claims”), including, but not limited to, damages to property or personal
        injury, that are caused by, arise out of or are related to (a) your use or misuse of the Sites, Content or
        Products, (b) any User Content you create, post, share or store on or through the Sites or our pages or feeds on
        third party social media platforms, (c) any Feedback you provide, (d) your violation of these Terms, (e) your
        violation of the rights of another, and (f) any third party’s use or misuse of the Sites or Products provided to
        you. You agree to promptly notify {{company}} of any third party Claims and cooperate with the {{company}}
        Parties in defending such Claims. You further agree that the {{company}} Parties shall have control of the
        defense or settlement of any third party Claims. This indemnity is in addition to, and not in lieu of, any other
        indemnities set forth in a written agreement between you and {{company}}.
        <br />

        <br />
        <strong>15. Disclaimers</strong>
        <br />

        <br />
        YOU ARE SOLELY RESPONSIBLE FOR THE PROPER AND SAFE HANDLING, PREPARATION, STORAGE, USE AND CONSUMPTION OF THE
        PRODUCTS YOU RECEIVE FROM US. YOU ARE ALSO SOLELY RESPONSIBLE FOR KNOWING ABOUT ANY FOOD ALLERGIES YOU MAY HAVE
        AND VERIFYING THE PRODUCTS AND THEIR CONTENTS BEFORE HANDLING, PREPARING, USING OR CONSUMING SUCH PRODUCTS.
        FURTHER, YOU UNDERSTAND, ACKNOWLEDGEAND AGREE THAT WE CANNOT GUARANTEE THAT CROSS-CONTAMINATION WILL NOT
        OCCUR BETWEEN OUR PRODUCTS AND PRODUCTS CONTAINING ALL EIGHT (8) MAJOR U.S. ALLERGENS (MILK, WHEAT, EGG, SOY,
        FISH, SHELLFISH, PEANUTS AND TREENUTS).
        <br />

        <br />
        WE ATTEMPT TO DISPLAY THE PRODUCTS AND OTHER MATERIALS AND INFORMATION YOU VIEW ON THE SITES, INCLUDING PRICING
        AND NUTRITIONAL INFORMATION, AS ACCURATELY AS POSSIBLE. HOWEVER, WE DO NOT GUARANTEE THE ACCURACY OF SUCH
        MATERIALS AND INFORMATION AND ARE NOT RESPONSIBLE FOR ANY CLAIMS ARISING OR RESULTING FROM YOUR RELIANCE
        THEREON. IN THE EVENT OF AN ERROR ON OUR SITES, IN AN ORDER CONFIRMATION, IN PROCESSING OR DELIVERING AN ORDER
        OR OTHERWISE, WE RESERVE THE RIGHT TO CORRECT SUCH ERROR AND REVISE YOUR ORDER ACCORDINGLY (INCLUDING CHARGING
        THE CORRECT PRICE) OR TO CANCEL YOUR ORDER AND ISSUE YOU A REFUND. YOU FURTHER AGREE THAT THE PRODUCTS AND OTHER
        MATERIALS YOU RECEIVE IN YOUR ORDER MAY VARY FROM THE PRODUCTS AND MATERIALS DISPLAYED ON THE SITES DUE TO A
        NUMBER OF FACTORS, INCLUDING, WITHOUT LIMITATION, SYSTEM CAPABILITIES AND CONSTRAINTS OF YOUR COMPUTER,
        MANUFACTURING PROCESS OR SUPPLY ISSUES, THE AVAILABILITY AND VARIABILITY OF PRODUCTS, DISTINCT COOKING OR OTHER
        PREPARATION METHODS AND VARIABILITY OF COOKING EQUIPMENT AND APPLIANCES. THE SITES MAY CONTAIN INFORMATION ABOUT
        PRODUCTS THAT ARE NOT AVAILABLE IN EVERY LOCATION. A REFERENCE TO A PRODUCT ON THE SITES DOES NOT IMPLY OR
        GUARANTEE THAT IT IS OR WILL BE AVAILABLE IN YOUR LOCATION OR AT THE TIME OF YOUR ORDER.
        <br />

        <br />
        EXCEPT AS MAY BE PROVIDED IN A WARRANTY BY THE MANUFACTURER OF A PRODUCT, ALL PRODUCTS AND THE SITES AND CONTENT
        ARE PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. {{company}}
        DISCLAIMS ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE SITES, CONTENT AND
        PRODUCTS, ANY WARRANTIES THAT ARISE FROM TRADE USAGE OR CUSTOM, AND ANY WARRANTIES THAT THE SITES OR PRODUCTS
        WILL BE FREE AND CLEAR FROM ANY ADVERSE LIEN OR SECURITY INTERESTS.
        <br />

        <br />
        We reserve the right to change any and all Content and to modify, suspend or stop providing access to the Sites
        (or any features or functionality of the Sites) and the Products at any time without notice and without
        obligation or liability to you. Reference to any products, services, processes or other information by trade
        name, trademark, manufacturer, supplier, vendor or otherwise does not constitute or imply endorsement,
        sponsorship or recommendation thereof, or any affiliation therewith, by us. Some jurisdictions do not allow the
        disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may
        not apply to you.
        <br />

        <br />
        <strong>16. Limitation of Liability; Release</strong>
        <br />

        <br />
        TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL {{company}} OR ANY OF THE OTHER Craft
        Coffee PARTIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OF
        ANY KIND (INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUE, INCOME OR PROFITS, LOSS OF USE OR DATA, LOSS OR
        DIMINUTION IN VALUE OF ASSETS OR SECURITIES, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY
        RELATED TO THE ACCESS OR USE OF THE SITES OR CONTENT OR THE ORDER, RECEIPT OR USE OF ANY PRODUCT OR OTHERWISE
        RELATED TO THESE TERMS (INCLUDING, BUT NOT LIMITED TO, ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY
        USER ON ANY INFORMATION OBTAINED FROM {{company}}, OR FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETIONS OF
        FILES OR EMAILS, ERRORS, DEFECTS, BUGS, VIRUSES, TROJAN HORSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY
        FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR
        UNAUTHORIZED ACCESS TO {{company}}’S RECORDS, PROGRAMS OR SYSTEMS), REGARDLESS OF THE FORM OF ACTION, WHETHER
        BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED),
        STRICT PRODUCT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS BEEN ADVISED OF THE
        POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE).
        <br />

        <br />
        TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE MAXIMUM AGGREGATE LIABILITY OF Craft
        Coffee AND THE OTHER {{company}} PARTIES (JOINTLY) ARISING OUT OF OR IN ANY WAY RELATED TO (A) THE ORDER,
        RECEIPT OR USE OF PRODUCTS PURCHASED FROM {{company}} EXCEED THE AMOUNT PAID FOR SUCH PRODUCTS; AND (B) THE
        ORDER, RECEIPT OR USE OF COFFEE, OR ACCESS OR USE OF THE SITES OR CONTENT, EXCEED THE GREATER OF $250 OR THE
        AMOUNT YOU PAID TO US IN THE ONE (1) MONTH PERIOD IMMEDIATELY PRECEDING THE DATE ON WHICH YOUR CLAIM AROSE. THE
        FOREGOING LIMITATIONS SHALL APPLY EVEN IN THE EVENT YOUR REMEDIES HEREUNDER FAIL OF THEIR ESSENTIAL PURPOSE, AND
        THE FOREGOING SHALL CONSTITUTE {{company}} AND THE OTHER {{company}} PARTIES’ SOLE LIABILITY AND OBLIGATION IN
        RESPECT HEREOF, REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED
        TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), STRICT PRODUCT LIABILITY OR ANY OTHER LEGAL OR
        EQUITABLE THEORY.
    </p>
    <p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, YOU, ON BEHALF OF YOUR HEIRS, EXECUTORS, ADMINISTRATORS, LEGAL
        AND PERSONAL REPRESENTATIVES, HEREBY RELEASE, WAIVE, ACQUIT AND FOREVER DISCHARGE {{company}} AND THE OTHER
        {{company}} PARTIES FROM AND AGAINST, AND COVENANT NOT TO SUE ANY SUCH {{company}} PARTY FOR, ALL CLAIMS YOU
        HAVE OR MAY HAVE ARISING OUT OF OR IN ANY WAY RELATED TO THESE TERMS. IF YOU ARE A CALIFORNIA RESIDENT, YOU
        HEREBY WAIVE YOUR RIGHTS UNDER CALIFORNIA CIVIL CODE 1542, WHICH STATES “A GENERAL RELEASE DOES NOT EXTEND TO
        CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE
        RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”</p>
    <p>
        Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above
        limitation or exclusion may not apply to you. Some jurisdictions also limit disclaimers or limitations of
        liability for personal injury from consumer products, so this limitation may not apply to personal injury
        claims.
        <br />

        <br />
        <strong>17. Modifications to the Sites and Products</strong>
        <br />

        <br />
        We reserve the right in our sole discretion to modify, suspend or discontinue, temporarily or permanently, the
        Sites (or any features or parts thereof) or the provision of the Products at any time and without liability
        therefor.
        <br />

        <br />
        <strong>18. Dispute Resolution; Arbitration</strong>
        <br />

        <br />
        PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO
        ARBITRATE CERTAIN DISPUTES AND CLAIMS WITH {{company}} AND LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM
        US.
        <br />

        <br />
        <strong> 18.1. Binding Arbitration</strong>
        <br />

        <br />
        Except for any disputes, claims, suits, actions, causes of action, demands or
        proceedings (collectively, “Disputes”) arising out of or related to a violation of Section 10 or Disputes in
        which either party seeks to bring an individual action in small claims court or seeks injunctive or other
        equitable relief for the alleged unlawful use of intellectual property, including, without limitation,
        copyrights, trademarks, trade names, logos, trade secrets or patents, you and {{company}} agree (a) to waive
        your and {{company}}’s respective rights to have any and all Disputes arising from or related to these Terms,
        or the Sites, Content or Products, resolved in a court, and (b) to waive your and {{company}}’s respective
        rights to a jury trial. Instead, you and {{company}} agree to arbitrate Disputes through binding arbitration
        (which is the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final
        and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court).
        <br />

        <br />
        <strong> 18.2. No Class Arbitrations, Class Actions or Representative
            Actions</strong>
        <br />

        <br />
        You and {{company}} agree that any Dispute arising out of or related to these
        Terms or the Sites, Content or Products is personal to you and {{company}} and that such Dispute will be
        resolved solely through individual arbitration and will not be brought as a class arbitration, class action or
        any other type of representative proceeding. You and {{company}} agree that there will be no class arbitration
        or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or
        group of individuals. Further, you and {{company}} agree that a Dispute cannot be brought as a class or other
        type of representative action, whether within or outside of arbitration, or on behalf of any other individual or
        group of individuals.
        <br />

        <br />
        <strong> 18.3. Federal Arbitration Act</strong>
        <br />

        <br />
        You and {{company}} agree that these Terms affect interstate commerce and
        that the enforceability of this Section 18 shall be both substantively and procedurally governed by and
        construed and enforced in accordance with the Federal Arbitration Act, 9 U.S.C. § 1 et seq. (the “FAA”), to the
        maximum extent permitted by applicable law.
        <br />

        <br />
        <strong> 18.4. Notice; Informal Dispute Resolution</strong>
        <br />

        <br />
        You and {{company}} agree that each party will notify the other party in
        writing of any arbitrable or small claims Dispute within thirty (30) days of the date it arises, so that the
        parties can attempt in good faith to resolve the Dispute informally. Notice to {{company}} shall be sent by
        certified mail or courier to {{company}}, Inc., Attn: Legal Department, 929 SW University Blvd., Suite 2704,
        Topeka KS 66619. Your notice must include (a) your name, postal address, telephone number, the email address you
        use or used for your {{company}} account and, if different, an email address at which you can be contacted, (b)
        a description in reasonable detail of the nature or basis of the Dispute, and (c) the specific relief that you
        are seeking. Our notice to you will be sent electronically in accordance with Section 3 and will include (x) our
        name, postal address, telephone number and an email address at which we can be contacted with respect to the
        Dispute, (y) a description in reasonable detail of the nature or basis of the Dispute, and (z) the specific
        relief that we are seeking. If you and {{company}} cannot agree how to resolve the Dispute within thirty (30)
        days after the date notice is received by the applicable party, then either you or {{company}} may, as
        appropriate and in accordance with this Section 18, commence an arbitration proceeding or, to the extent
        specifically provided for in Section 18.1, file a claim in court.
        <br />

        <br />
        <strong> 18.5. Process</strong>
        <br />

        <br />
        Except for Disputes arising out of or related to a violation of Section 10 or
        Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or
        other equitable relief for the alleged unlawful use of intellectual property, including, without limitation,
        copyrights, trademarks, trade names, logos, trade secrets or patents, you and {{company}} agree that any
        Dispute must be commenced or filed by you or {{company}} within one (1) year of the date the Dispute arose,
        otherwise the underlying claim is permanently barred (which means that you and {{company}} will no longer have
        the right to assert such claim regarding the Dispute). You and {{company}} agree that (a) any arbitration will
        occur in the State of Kansas, County of Shawnee, City of Topeka, (b) arbitration will be conducted
        confidentially by a single arbitrator in accordance with the rules of the Judicial Arbitration and Mediation
        Services (“JAMS”), which are hereby incorporated by reference, and (c) that the state or federal courts of the
        State of Kansas and the United States, respectively, sitting in the State of Kansas, County of Shawnee, City of
        Topeka, have exclusive jurisdiction over any appeals and the enforcement of an arbitration award. You may also
        litigate a Dispute in the small claims court located in the county of your billing address if the Dispute meets
        the requirements to be heard in small claims court.
        <br />

        <br />
        <strong> 18.6. Authority of Arbitrator</strong>
        <br />

        <br />
        As limited by the FAA, these Terms and the applicable JAMS rules, the
        arbitrator will have (a) the exclusive authority and jurisdiction to make all procedural and substantive
        decisions regarding a Dispute, including the determination of whether a Dispute is arbitrable, and (b) the
        authority to grant any remedy that would otherwise be available in court; provided, however, that the arbitrator
        does not have the authority to conduct a class arbitration or a representative action, which is prohibited by
        these Terms. The arbitrator may only conduct an individual arbitration and may not consolidate more than one
        individual’s claims, preside over any type of class or representative proceeding or preside over any proceeding
        involving more than one individual.
        <br />

        <br />
        <strong> 18.7. Rules of JAMS</strong>
        <br />

        <br />
        The rules of JAMS and additional information about JAMS are available on the
        <a href="https://www.jamsadr.com/">JAMS website</a>.
        By agreeing to be bound by these Terms, you either (a) acknowledge and agree that you have read and understand
        the rules of JAMS, or (b) waive your opportunity to read the rules of JAMS and any claim that the rules of JAMS
        are unfair or should not apply for any reason.
        <br />

        <br />
        <strong> 18.8. Severability</strong>
        <br />

        <br />
        If any term, clause or provision of this Section 18 is held invalid or
        unenforceable, it will be so held to the minimum extent required by law, and all other terms, clauses and
        provisions of this Section 18 will remain valid and enforceable. Further, the waivers set forth in Section 18.2
        are severable from the other provisions of these Terms and will remain valid and enforceable, except as
        prohibited by applicable law.
        <br />

        <br />
        <strong> 18.9. Opt-Out Right</strong>
        <br />

        <br />
        You have the right to opt out of binding arbitration within thirty (30) days
        of the date you first accepted the terms of this Section 18 by writing to: {{company}}. In order to be effective, the opt out notice
        must include your full name and clearly indicate your intent to opt out of binding arbitration. By opting out of
        binding arbitration, you are agreeing to resolve Disputes in accordance with Section 19.
        <br />

        <br />
        <strong>19. Governing Law and Venue</strong>
        <br />

        <br />
        These Terms, your access to and use of the Sites and your order, receipt and use of the Products shall be
        governed by and construed and enforced in accordance with the laws of the State of Kansas, without regard to
        conflict of law rules or principles (whether of the State of Kansas or any other jurisdiction) that would cause
        the application of the laws of any other jurisdiction. Any Dispute between the parties that is not subject to
        arbitration or cannot be heard in small claims court, shall be resolved in the state or federal courts of the
        State of Kansas and the United States, respectively, sitting in the State of Kansas, County of Shawnee, City of
        Topeka.
        <br />

        <br />
        <strong>20. Termination</strong>
        <br />

        <br />
        Notwithstanding anything contained in these Terms, we reserve the right, without notice and in our sole
        discretion, to terminate your right to access or use the Sites and to order, receive and use the Products, at
        any time and for any or no reason, and you acknowledge and agree that we shall have no liability or obligation
        to you in such event and that you will not be entitled to a refund of any amounts that you have already paid to
        us, to the fullest extent permitted by applicable law.
    </p>
    <p>
        <strong>21. Severability</strong>
        <br />

        <br />
        If any term, clause or provision of these Terms is held invalid or unenforceable, then that term, clause or
        provision will be severable from these Terms and will not affect the validity or enforceability of any remaining
        part of that term, clause or provision, or any other term, clause or provision of these Terms.
        <br />

        <br />
        <strong>22. Survival</strong>
        <br />

        <br />
        The following sections will survive the expiration or termination of these Terms and the termination of your
        {{company}} account: all defined terms and Sections 1, 3, 4, 5 (first paragraph only), 6, 7, 8 (second
        paragraph only), 9 through 23.
        <br />

        <br />
        <strong>23. Miscellaneous</strong>
        <br />

        <br />
        These Terms constitute the entire agreement between you and {{company}} relating to your access to and use of
        the Sites and your order, receipt and use of Products. These Terms, and any rights and licenses granted
        hereunder, may not be transferred or assigned by you without the prior written consent of {{company}}. No
        waiver of any provision of these Terms will constitute a waiver of such provision in any prior, concurrent or
        subsequent circumstance, and {{company}}’s failure to assert any right or provision under these Terms shall not
        constitute a waiver of such right or provision. Except as otherwise provided herein, these Terms are intended
        solely for the benefit of the parties and are not intended to confer third party beneficiary rights upon any
        other person or entity.
        <br />

        <br />
        Please email
        <a href="mailto:help@{{domain}}">help@{{domain}}</a>        with any questions.
    </p>
</div>